body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

input, button {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c3ff;
  color: black;
  cursor: pointer;
}

canvas {
  border: 2px solid white;
  margin-top: 20px;
  background: white;
  touch-action: none;
}